In [1]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore', category=FutureWarning)

# Clean data

## Replace special characters and convert to snake case

In [2]:
df = pd.read_csv('../data/Data.csv')
df.columns = df.columns.str.lower()
df.columns = df.columns.str.replace('\(%\)', 'percent')
df.columns = df.columns.str.replace('/', ' per ')
df.columns = df.columns.str.replace(' ', '_')
df

,entity,continent,latitude,longitude,average_temperature_per_year,hospital_beds_per_1000_people,medical_doctors_per_1000_people,gdp_per_capita,population,median_age,population_aged_65_and_over_percent,date,daily_tests,cases,deaths
0,Albania,Europe,41.15,20.17,14,2.89,1.29,5353.2,2873457,38,14,2020-02-25,8.0,NaN,NaN
1,Albania,Europe,41.15,20.17,14,2.89,1.29,5353.2,2873457,38,14,2020-02-26,5.0,NaN,NaN
2,Albania,Europe,41.15,20.17,14,2.89,1.29,5353.2,2873457,38,14,2020-02-27,4.0,NaN,NaN
3,Albania,Europe,41.15,20.17,14,2.89,1.29,5353.2,2873457,38,14,2020-02-28,1.0,NaN,NaN
4,Albania,Europe,41.15,20.17,14,2.89,1.29,5353.2,2873457,38,14,2020-02-29,8.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38467,Zimbabwe,Africa,-19.02,29.15,20,1.70,0.08,1464.0,16529904,19,3,2021-02-24,1804.0,35960.0,1456.0
38468,Zimbabwe,Africa,-19.02,29.15,20,1.70,0.08,1464.0,16529904,19,3,2021-02-25,2965.0,35994.0,1458.0
38469,Zimbabwe,Africa,-19.02,29.15,20,1.70,0.08,1464.0,16529904,19,3,2021-02-26,NaN,36044.0,1463.0
38470,Zimbabwe,Africa,-19.02,29.15,20,1.70,0.08,1464.0,16529904,19,3,2021-02-27,NaN,36058.0,1463.0
38471,Zimbabwe,Africa,-19.02,29.15,20,1.70,0.08,1464.0,16529904,19,3,2021-02-28,NaN,36089.0,1463.0

## Check data types and completeness of data

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38472 entries, 0 to 38471
Data columns (total 15 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   entity                               38472 non-null  object
 1   continent                            38472 non-null  object
 2   latitude                             38472 non-null  float64
 3   longitude                            38472 non-null  float64
 4   average_temperature_per_year         38472 non-null  int64
 5   hospital_beds_per_1000_people        38472 non-null  float64
 6   medical_doctors_per_1000_people      38472 non-null  float64
 7   gdp_per_capita                       38472 non-null  float64
 8   population                           38472 non-null  int64
 9   median_age                           38472 non-null  int64
 10  population_aged_65_and_over_percent  38472 non-null  int64
 11  date                                 38472 non-null  object
 12  daily_tests                          30577 non-null  float64
 13  cases                                38218 non-null  float64
 14  deaths                               34862 non-null  float64
dtypes: float64(8), int64(4), object(3)
memory usage: 4.4+ MB

Without further information, we can leave it.

# Derived features

In [4]:
df['cases_per_capita'] = df.cases / df.population
df['deaths_per_capita'] = df.deaths / df.population